<style>
.container {
  max-width: {{ .Site.Params.containerMaxWidth | default "700px" | safeCSS }};
}
#nav {
  border-bottom: 1px solid #212529;
  font-weight: bold;
}
#nav a {
  color: inherit;
}
#main {
  margin-top: 1rem;
  margin-bottom: 3rem;
}
#footer .container {
  padding: 1em 0;
}
#footer a {
  color: inherit;
  text-decoration: underline;
}
.tag-btn {
  margin-bottom: 0.3em;
}
pre {
  background-color: #f8f9fa;
  border: 1px solid #d6dce1;
  border-radius: 4px;
  padding: 16px;
}
img {
  max-width: 100%;
}
</style>